#cajasT{
    margin: 5% 0 0 5%;
    background-color: black;
    Width: 80%;
    height: 20%;
    font-family: sans-serif;
    color: white;
}

#containerCab{
    background-image: url("../recursos/people.jpg");
    background-size: cover;
    width: 100%;
    height: 740px;
    background-color: rgba(0,0,255,0);
}

#menuAbout{
    position: fixed;
    top:0;
    z-index: 99;
    height: 75px !important;
    padding-left: 0;
    display: flex;
    opacity: 1;
}
.navbar-toggler{
    height: 100%;
    background-color: white;
}

#navbarSupportedContent{
    background-color: black;
}

.navbar-nav .ml-auto{
    background-color: black;
}