#cajasT{
    margin: 5% 0 0 5%;
    background-color: black;
    Width: 80%;
    height: 20%;
    font-family: sans-serif;
    color: white;
    border: 2px solid;
    border-color: white;
    border-radius: 3rem;
}

#containerCab{
    background-image: url("../recursos/people.jpg");
    background-size: cover;
    width: 100%;
    height: 740px;
    background-color: rgba(0,0,255,0);
}


.navbar-toggler{
    height: 100%;
    background-color: white;
    position: relative;
}

#navbarSupportedContent{
    background-color: #45526e;
    border-radius:.25rem;
}

.navbar-nav .ml-auto{
    background-color: #45526e;
}