#footerLanding{
    background-image: url(../recursos/udec1.jpg);
    width:100%;
}

#footer{
    background-image: url(../recursos/udec1.jpg);
    width:100%;
}

#footerAdmin{
    background-image: url(../recursos/udec1.jpg);
    width:100%;
}

#footerTutor{
    background-image: url(../recursos/udec1.jpg);
    width:100%;
}