
.container{
    text-align:center;
}
.h1Landing{
  
    font-size: 4.5rem;
    color:white;
    margin-top:250px;
    

}
.h2Landing{
    color:white;
}
#containerHeader{
    background-image: url("../recursos/workplace.jpg");
    background-size: cover;
    width: 100%;
    height: 740px;

}
.row{
    height: 200px;
}
.btnLanding{
    font-size: 2rem;
}