

.nav{
    float: left;
    list-style-type: none;
    padding: 0; 
    position: relative; 
    left: 50%;
    
}
.item{
    float: left;
    position: relative; 
    right: 50%;

}

#iconoPerfil{
    background-image: url("../recursos/usuario.jpg");
    width:50px;
    height:50px;
    border-radius: 1rem;
}

#sidebar, #sidebarEstudiante, #sidebarAbout, #sidebarAdmin, #sidebarTutor{
    background-image: url(../recursos/fondoSidebar.jpg);
    width:100%;
}
