#containerMenu{
    position: fixed;
    top:0;
    z-index: 99;
    height: 75px !important;
    padding-left: 0;
    width: 100%;
    background-color: rgba(0,0,255,0);
    display: flex;
    opacity: 1;
}
.navbar{
    height: 100%;
}
.nav-item{
    margin:0 20px;
}

.img-circle{
    
    border-radius: 50%;
    padding-top: 0px;
}