.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-group {
    margin-bottom: 15px;
}

.profile-pic2 {
    width: 150px;
    border-radius: 50%;
    padding-top: 0px;
  }