.grid{
    height: auto;
    width: auto;

    margin-top:50px;
    text-align:center;
    
}

.show-grid{
    flex: 9;
    display: inline-block;
    width:100%;
    grid-rows: 50px;
    grid-columns: 100%;
    position: center;
}

#textServ{
    background-color: #33BEFF
}
#servUnique{
    background-color: #33BEFF;
    padding: 5px;
    border: 2px solid;
}

.column{
    bottom: 15px;
    position: relative;
}
.column2{
    padding-top: 150px;
    position: relative;
}
.text{
    justify-content: baseline;
}

#selectPage{
    padding: 0px;
    block-size: 15%;
    
}

.card{
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #ffffff; 
font-size: 18px; 
font-weight: 400; 
text-align: center; 
background: #889ccf; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca;
width: 100%;
}



#slideshow { 
    margin: 0 auto; 
    position: relative; 
    width: 60%;
    height:20%;
    size: auto;
    padding: 1% 1% 56.25% 1%; /*56.25 is for 16x9 resolution*/
		border-radius:20px;
		background: rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  box-sizing:border-box;
}

#slideshow > div { 
    position: relative; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow > div > img {
	width:100%;
	height:100%;
	border-radius:20px;
}

#slideshow:hover i, #slideshow:hover .slider-dots{
	opacity: 1;
	}

.slidebtn {
	z-index:99;
	background:transparent;
	outline:none;
	border:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding:0 10px 0 10px;
	}

.slidebtn:active,
.slidedtn:focus {
	outline:none;}
	
.slidebtn i {
	color:#FFF;
	font-size:72px;
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	}

.prev {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    bottom: 10px;
}

.next {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    bottom: 10px;
}


.slider-dots {
	opacity: 0.2;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  position:absolute;
  left:50%;
  bottom:3%;
  transform: translate(-50%, 0);
  z-index:99;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

}

.slider-dots li {
  color: #000;
  display: inline;
  font-size: 48px;
  margin-right: 5px;
  cursor:pointer;
}

.slider-dots li.active-dot {
  color: #fff;
}

/*
JQUERY SLIDER BY JohnRostislavovich - https://codepen.io/JohnRostislavovich
ALL YOU HAVE TO DO:
-copy the whole code html, css & js
-include jquery lib
-change the images
*/
