.grid{
    height: auto;
    width: auto;

    margin-top:50px;
    text-align:center;
    
}

.show-grid{
    flex: 9;
    overflow: scroll;
    width:100%;
    grid-rows: 50px;
    grid-columns: 100%;
    position: center;
    height:350px;
    border: 3px solid;
    border-color: white;
    border-radius: .4rem
}
::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: Black;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}

#textServ{
    background-color: #33BEFF
}
#servUnique{
    background-color: #33BEFF;
    padding: 5px;
    border: 2px solid;
}

.column{
    bottom: 15px;
    position: relative;
}
.column2{
    padding-top: 150px;
    position: relative;
}
.text{
    justify-content: baseline;
}

#selectPage{
    padding: 0px;
    block-size: 15%;
    
}

#tarjetaSer{
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #ffffff; 
font-size: 18px; 
font-weight: 400; 
text-align: center; 
background: #889ccf; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca;
width: 100%;
}


